Repository LibreELEC/actions, pull requests merged in 2023-02, with the labels that each got.

#36 Build full Generic-legacy addon target
  .github/workflows/nightly-MASTER-addons.yml
  scripts/update_addon_repo.sh
Labels: LE 11.0, Scripts

#37 nightly-MASTER-addons.yml: allow Generic-legacy to build targets
  .github/workflows/nightly-MASTER-addons.yml
Labels: LE 11.0, Scripts, Add-ons

#38 add files for LE11
  .github/workflows/nightly-LE11-addons.yml
  .github/workflows/nightly-LE11.yml
Labels: LE 11.0
