Repository LibreELEC/actions, pull requests merged in 2023-03, with the labels that each got.

#40 disable cron building (nightlies) for LE10
  .github/workflows/nightly-LE10-addons.yml
  .github/workflows/nightly-LE10.yml
Labels: LE 10.0, Images, Add-ons

#42 nightly-MASTER-addons.yml: build ARMv8.aarch64 addons
  .github/workflows/nightly-MASTER-addons.yml
Labels: Scripts, Add-ons, LE 12.0

#41 switch master to LE12
  .github/workflows/build-images.yml
  .github/workflows/nightly-MASTER-addons.yml
Labels: Images, LE 12.0

#43 fixes LE11 builds
  .github/workflows/nightly-LE11-addons.yml
  .github/workflows/nightly-LE11.yml
Labels: LE 11.0

#44 build-images.yml: change Allwinner and RPi4 to aarch64
  .github/workflows/build-images.yml
Labels: LE 12.0

#45 nightly-MASTER-addons.yml: do not build tigervnc for Generic
  .github/workflows/nightly-MASTER-addons.yml
Labels: Scripts, Add-ons, LE 12.0

#47 nightly-LE11-addons.yml: do not build tigervnc for Generic
  .github/workflows/nightly-LE11-addons.yml
Labels: LE 11.0, Scripts, Add-ons
